{% extends "layout.html" %}
{% block title %}History{% endblock %}
{% block main %}
    <div class ="card2">
        <h3 class="center-text-head">
            Game History
        </h3>
        <table>
            <thead>
                <tr >
                    <th >Date</th>
                    <th >Color</th>
                    <th >Result</th>
                    <th >Opening</th>
                    <th >Opponent Rating</th>
                    <th >Your Rating</th>
                    <th >Edit</th>
                    <th >Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for game in game_history %}
                <tr>
                    <td class = "center-text1">{{ game.date }}</td>
                    <td class = "center-text1">{{ game.color }}</td>
                    <td class = "center-text1">{{ game.result }}</td>
                    <td class = "center-text1">{{ game.opening }}</td>
                    <td class = "center-text1">{{ game.opponent_rating }}</td>
                    <td class = "center-text1">{{ game.user_rating }}</td>
                    <td class = "center-text1"> <a class ="color" href="/edit/{{ game.id }}">Edit</a></td>
                    <td class = "center-text1"><form action="/delete/{{ game.id }}" method="post"><button class = "button1" type="submit">Delete</button>
                    </form>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <h3 class="center-text-head">no games loged yet </h3>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
{% endblock %}