<!DOCTYPE html> 

<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

         <link rel="stylesheet" href="/static/styles.css">
        <title> {% block title %}{% endblock %}</title>
    </head>

    <body>
    <nav class="navbar">
        <div class="logo">
            <a class ="a" href="/">Chess Tracker</a>
        </div>
        <ul class="nav-links">
            <li><a class ="a" href="{{ url_for('home') }}">Home</a></li>
            {% if session["user_id"] %}
                <li ><a class ="a" href="{{ url_for('logout') }}">Log out</a></li>
                <li><a class ="a" href="{{ url_for('add') }}">Add Game</a></li>
                <li><a class ="a" href="{{ url_for('history') }}">history</a></li>
                <li><a class ="a" href="{{ url_for('progress') }}">Progress</a></li>
            {% else %}
                <li><a class ="a" href="{{ url_for('login') }}">Log in</a></li>
                <li><a class ="a" href="{{ url_for('register') }}">Register</a></li>
            {% endif %}

        </ul>
    </nav>

        <main class="container py-5 text-center">{% block main %}{% endblock %}</main>
        
    </body>

</html>