{% extends "layout.html" %}
{% block title %} Register {% endblock %}
{% block main %}
<div class ="card">
    <form action="/register" method="post">
        <input class = "input" autocomplete="off" autofocus name="Username" placeholder="Username" type="text">

        <input class = "input" autocomplete="off" autofocus name="Password" placeholder="Password Must Be 8 Charecter or More" type="password">

        <input class = "input" autocomplete="off" autofocus name="Confirmation" placeholder="Confirmation" type="password">
        
        <button class = "button" type="submit">Register</button>
    </form>
</div>
{% endblock %}